.container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
}

.input {
}

.content {
}

.button {
  background: #333;
  color: #eee;

  padding: 0.25rem 1rem;
  border-radius: 8px;

  cursor: pointer;
}
